.header-primary {
    font-family: 'Bangers',
    cursive;
    font-size: 6rem;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    display: block;

    .mini-title{
        display: block;
    }

    .sub-title{
        display: block;
    }

     @include responsive(phone) {
         font-size: 3rem;
         
     }

     @include responsive(tab-port) {
        font-size: 4rem;
     }
}

.header-secondary {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    padding-bottom: 2rem;
    color: $color-primary-dark;
    letter-spacing: .2rem;

     @include responsive(phone) {
         font-size: 2.5rem;
         
     }

     @include responsive(tab-port) {
         font-size: 3rem;
     }

    
}

.header-tertiary {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 2.4rem;
    text-transform: capitalize;
    color: black;

    @include responsive(phone){
        font-size: 2rem;
    }

    @include responsive(tab-port){
        width: 100%;
        margin: 1rem auto;
        top: 0;
    }



}

.header-custom{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    color: $color-primary-dark;
    margin: 0 auto;
    font-size: 4rem;
    align-items: center;
    column-gap: 2rem;

    @include responsive(tab-port){
            display: block;
            font-size: 3.4rem;
    }

    &::before,
    &::after{
        content: ' ';
        display: block;
        height: 10px;
        background-color: $color-primary-dark;

        @include responsive(tab-port){
            display: none;
        }
    }
}

.heading-4{
    font-size: 2rem;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
    color: black;

    @include responsive(tab-port){
        display: none;
    }
}

.paragraph{
    font-size: 1.5rem;
}
.main-heading{
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 1);
    color: white;
    padding: 8vh 0;
    position: relative;
    z-index: 20;
}