.header-primary {
    display: block;
    font-family: 'Bangers',
    cursive;
    font-size: 6vw;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}

.header-secondary {
    font-size: 3rem;
    text-transform: uppercase;
        font-family: 'Open Sans Condensed',
        sans-serif;

    font-weight: 700;
    display: inline-block;
    padding-bottom: 2rem;
    color: $color-primary-dark;
    letter-spacing: .2rem;

    
}

.header-tertiary {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 2.1rem;
    text-transform: capitalize;
    color: black;

    @include responsive(phone){
        font-size: 2rem;
    }

    @include responsive(tab-port){
        width: 100%;
        margin: 1rem auto;
        top: 0;
    }



}

.paragraph{
    font-size: 1.5rem;
}
.main-heading{
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 1);
    color: white;
    padding: 8vh 0;
    mix-blend-mode: screen;
}