.footer {
    height: 20vh;
    background-color: $color-primary-dark;
    color: black;
    position: relative;
    bottom: 0;
    font-size: 1.4rem;

    &__navigation {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        display: inline-block;

     
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {

        &:link,
        &:visited {
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
            color: white;
        }

        &:hover{
            color: $color-primary;
        }
    }
    &__row{
        margin: 0 auto;
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-column-gap: 10px;
        column-gap: 10px;
        grid-row-gap: 10px;
        row-gap: 10px;
        
    }

    &__copyright {
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
        width: 80%;
        float: right;
        color: white;

        @include responsive(phone){
            float: none;
        }
        
        @include responsive(tab-port) {
            width: 100%;
            float: none;
        }
    }
}