.header{
    width: inherit;
    position: relative;

    &__right {
        width: 70vw;
        height: 100%;
        position: absolute;
        font-family: 'Courier New', Courier, monospace;
        padding-top: 10%;
        text-align: center;
        top: 10%;
        z-index: 20;
        position: absolute;
        color: black;
        top: 0;
        font-weight: bolder;
        right: 0;
        letter-spacing: .5px;

        @include responsive(phone){
            width: 100vw;
        }

        @include responsive(tab-port){
            width: 100vw;
        }
        
    }
}
.slider-container{
    position: relative;
    z-index: -1;
}


.slide-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 100vh;
    background-position: left;

    @include responsive(phone) {
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 40vh;
    }

}

.slide-image--1{
    background-color: #ffd65d;
}

.slide-image--2{
    background-color: #ffb900;
}

.slide-image--3{
    background-color: #a57000;
}

.typing-style{
    text-transform: lowercase;
    color: white;
}

.header-button{

    &:link,
    &:visited{
        text-shadow: inset 0 -0.6em 0 -.35em white;
        padding: 2rem 3rem;
        background-color: white;
        color: black;
        font-size: 1.5rem;
        border: 2px solid black;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 700;
        position: absolute;
        text-decoration: none;
        left: 50%;
        bottom: 10%;
        z-index: 30;
        border-radius: 10px;
    }

    &:hover,
    &:active{
        background-color: black;
        color: white;
    }
}



