.button-container{
    display: block;
    margin: 3rem 0;
    width: 100%;

    @include responsive(phone) {
        display: flex;
        margin: 1rem auto;
        width: 100%;
        justify-content: center;
    }

    @include responsive(tab-port) {
        display: flex;
        margin: 3rem auto;
        width: 100%;
        justify-content: center;
    }

    

}

.button{
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    border: 3px solid $color-primary-dark;
    padding: 1.5rem 3rem;
    border-radius: 9px;
    margin: 1rem 2rem 2rem 0;
    box-shadow: 0 24px 64px rgba($color: #000000, $alpha: .1);
    font-size: 2rem;

    @include responsive(phone){
        padding: 1.1rem 2rem;
        font-size: 1.4rem;

    }

    @include responsive(tab-port) {
        padding: 1.1rem 2rem;
        font-size: 1.4rem;

    }


    &,
    &:link{
        text-transform: uppercase;
        color: $color-primary-dark;
        font-weight: 600;
        text-decoration: none;




    }

    &:hover{
        color: $color-primary-dark;
        transform: scaleX(1.02);
        color: white;
    }
}