.button-container{
    display: flex;
    position: absolute;
    bottom: 3rem;
    width: 100%;
}

.button{
    background-color: black;
    cursor: pointer;
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 9px;
    margin: 0 auto;
    box-shadow: 0 24px 64px rgba($color: #000000, $alpha: .2);
    font-size: 2rem;


    &,
    &:link{
        text-transform: uppercase;
        color: white;
        font-weight: 600;
        text-decoration: none;
    }

    &:hover{
        color: $color-primary-dark;
        transform: scaleX(1.02);
    }
}