.section-pricing{
    width: 60%;
    height: 50vh;
    margin: 20vh auto;

    @include responsive(tab-port){
        height: max-content;
    }

    
}

.pricing{
    &__list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
        column-gap: 9rem;
        row-gap: 6rem;
        align-items: flex-start;
    }

    
    &__item{
        display: grid;
        width: auto;

        grid-template-columns: min-content 1fr;

        .description{
            font-size: 1.4rem;
            text-align: left;
                    padding-left: 2rem;

            grid-column: 2 / -1;
        }

    }

    &__title{
        padding-left: 2rem;
        text-align: left;
        align-self: center;
        justify-self: flex-start;
    }

    &__icon{
        height: 5rem;
        width: 5rem;
        justify-self: center;
        align-self: center;
        grid-row: 1 / 2;
        background-color:  $color-primary-dark;
        border: 2px solid  $color-primary-dark;
        display: flex;
        border-radius: 50%;
        justify-content: center;
        align-items: center;

        svg{
            font-size: 3rem;
            color:white;
            grid-row: 1 / 2;
        }
    }

    
}