.slide-container{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    box-shadow:  0 1rem 2.4rem 10px rgba(0, 0, 0, 0.089);
    background-color: black;
    justify-self: right;
   
}


.slide{
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;


  &__text{
     position: absolute;
    transform: translate(-50%, -50%) ;
    top: 40%;
    transform-origin: 50% 40%;
    left: 50%;
    width: 80%;
    background: $color-primary;
    padding: 2rem 3rem;

    

    .title{
      text-transform: uppercase;
      word-wrap: break-word;
      display: block;
      color: black;
      font-weight: bolder;
      line-height: 1.2;
      position: relative;
      text-align: center;

      @include responsive(tab-land){
          color: black;
        }

      &:not(:last-child){
        padding-bottom: 2rem;
      }


      &__main{
        font-size: 13rem;

        @include responsive(tab-land){
          font-size: 9vw;
        }

      }

      &__mini{
        font-size: 2.4rem;
        font-weight: 700;

      }

      &__sub{
        font-size: 2.5rem;
        font-weight: 800;

        @include responsive(tab-land){
          font-size: 2rem;
        }

      }
    }
  }

  &__image{
    height: 100%;
    position: absolute;
    top: 5px;
    display: flex;
    
    span{
      width: 100vw;
      height: 100%;
      background-size: cover;
      background-position: bottom;

     
    } 
  }

  &__content{
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    width: 100%;
    height: 100%;
    justify-content: flex-end;

  }

  &__background{
    background-color: transparent;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    justify-content: center
  }

  &__progress{
    background-color: $color-primary;
    height: 5px;
    animation-name: progress;
    animation-duration: 10s ;
  }
 
  
}

.slide-container .slide:first-child{
  display: flex;
}
.active-slide{
    display: block;
    background-color: #717171;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;

}