@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC);

@import './abstract/variables';
@import './abstract/mixin';

@import './base/base';
@import './base/animation';
@import './base/topography';
@import './base/utilities';

@import './component/icon';
@import './component/loader';
@import './component/card';
@import './component/button';
@import './component/form';
@import './component/not-found';
@import './component/slide';
@import './component/component-title';
@import './component/pricing';
@import './component/qualities';
@import './component/preview';
@import './component/about';
@import './component/technology';
@import './component/mobile';

@import'./layouts/header';
@import './layouts/navigation';
@import './layouts/footer';

@import './pages/home';
@import './pages/portfolio';
@import './pages/contact';
@import './pages/faq';
@import './pages/review';
@import './pages/service';
@import './pages/about';
@import './pages/details'